// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
$light-gray: #fcfcfc;

$dark-teal: #3DBE99;
$medium-teal: #83D5BE;
$light-teal: #EDF9F5;
$lime: #F4ED47;
$gray: #585858;
