.price-tag {
  // margin: auto;
  width: 200px;
  padding: 4px;
  background-color: $lime;
  border-radius: 4px;
}

.price-tag p {
  margin-bottom: 0;
}

.pricing-details {
  font-size: 12px;
}

.additional-remark {
  font-size: 14px;
}
