<div class="footer text-center">
  <div class="container pt-4">
    <p>Schinder Business Center, Noble House Lantai 27</p>
    <p>Jalan Dr.Ide Anak Agung Gde Agung Kav. E 4.2</p>
    <p>Kuningan, Jakarta Selatan 12950</p>

    <p class="mt-3 mb-3">+62 8174897004 | info@origoedu.com </p>

    <%= link_to("https://www.linkedin.com/company/origo-edu/", target: "_blank") do  %>
      <i class="fab fa-linkedin-in"></i>
    <% end %>

    <%= link_to("https://www.facebook.com/origoedu", target: "_blank") do  %>
      <i class="fab fa-facebook-f ml-2"></i>
    <% end %>

    <%= link_to("https://www.instagram.com/origoedu/", target: "_blank") do  %>
      <i class="fab fa-instagram ml-2"></i>
    <% end %>
  </div>
</div>
