<div id="how-it-works">
  <h3 class="text-center">How We Work</h3>

  <div class="center mt-5 mb-2">
    <div>
        <div class="box-container">
          <p class="number">1</p>
          <strong>Submit your essay</strong><br>Click <%= link_to "Submit an Essay", new_essay_path %> and upload your essay! The price of our service is based on application type (undergraduate or graduate) and length of your essay (word limit). Please see pricing details <%= link_to "here", "#pricing" %>.
        </div>
        <div class="box-container">
          <p class="number">2</p>
          <strong>Meet your reviewer</strong><br>We'll send you details of who you'll be working with to fix up your essay. Our reviewers are thoroughly vetted to produce high caliber essay writing services.
        </div>
        <div class="box-container">
          <p class="number">3</p>
          <strong>Receive feedback</strong><br>Give your reviewer 3-4 working days to complete a review of your essay - this will include feedback on essay concept and structure, suggestions to content, and of course, corrections to spelling and grammar.
        </div>
        <div class="box-container">
          <p class="number">4</p>
          <strong>Finalize your essay</strong><br>Finalize your essay with a 1.5- to 2- hour session to understand, discuss, and incorporate feedback received on your essay. By the end of this session, you should have an essay that's ready for submission!
        </div>
    </div>
  </div>

  <div class="center">
    <%= link_to "Submit an Essay!", new_essay_path, class: "main-btn" %>
  </div>
</div>

<div id="pricing" class="mb-5">
  <h3 class="mb-4 text-center">Pricing</h3>
  <p class="mb-4 text-center">Each package includes a complete review of your essay covering essay concept, structure, content, and of course, spelling and grammar. We will then schedule a one-on-one consult with you to collaboratively finalize your essay and answer any lingering questions.</p>

  <h5 class="mb-4 text-center">Undergraduate Applicants</h5>


  <div class="price-cards text-center">
    <div class="price-card">
      <p class="size">S</p class="size">
      <p>100-250 words</p>
      <p>1.5-hour consult</p>
      <p class="price mt-2">USD 80</p>
    </div>
    <div class="price-card">
      <p class="size">M</p class="size">
      <p>251-400 words</p>
      <p>2-hour consult</p>
      <p class="price mt-2">USD 110</p>
    </div>
    <div class="price-card">
      <p class="size">L</p class="size">
      <p>401-600 words</p>
      <p>2.5-hour consult</p>
      <p class="price mt-2">USD 130</p>
    </div>
    <div class="price-card">
      <p class="size">XL</p class="size">
      <p>600+ words</p>
      <p>3-hour consult</p>
      <p class="price mt-2">USD 180</p>
    </div>
  </div>

  <h5 class="mt-5 mb-4 text-center">Graduate Applicants</h5>

  <div class="price-cards text-center">
    <div class="price-card">
      <p class="size">S</p class="size">
      <p>100-250 words</p>
      <p>1.5-hour consult</p>
      <p class="price mt-2">USD 90</p>
    </div>
    <div class="price-card">
      <p class="size">M</p class="size">
      <p>251-400 words</p>
      <p>2-hour consult</p>
      <p class="price mt-2">USD 120</p>
    </div>
    <div class="price-card">
      <p class="size">L</p class="size">
      <p>401-600 words</p>
      <p>2.5-hour consult</p>
      <p class="price mt-2">USD 150</p>
    </div>
    <div class="price-card">
      <p class="size">XL</p class="size">
      <p>600+ words</p>
      <p>3-hour consult</p>
      <p class="price mt-2">USD 200</p>
    </div>
  </div>
</div>
