<p style='text-align: center; margin: 20px;'>Hey <%= @essay.student_name %>! &#128075;</p>

<p style='text-align: center; margin: 20px;'>Thank you for trusting us with your essay.</p>

<p style='text-align: center; margin: 20px;'>For us to be able to match with you one of our outstanding editors, please make the payment by <%= @essay.payment_deadline %> at {{link}}.</p>

<p style='text-align: center; margin: 20px;'>Best regards,</p>

<p style='text-align: center; margin: 20px;'>The Origo Team</p>
