.banner {
  background-size: cover;
  background-position: center;
  padding: 20vh 0;
  margin-top: 48px;
  height: calc(100vh - 48px);
  position: relative;
}

@media(max-width: 768px) {
  .banner {
    padding: 5vh 0;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 28px;
}

.banner h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.banner h4 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner ul {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.arrow {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.arrow p {
  margin-bottom: 36px;
}

.fa-chevron-down {
  animation: bounce 2s infinite;
}

a:hover {
  text-decoration: none;
}
