.main-btn {
  padding: 8px 32px;
  background-color: $dark-teal;
  opacity: 90%;
  color: white;
  border-radius: 50px;
}

.main-btn:hover {
  text-decoration: none;
  color: $light-teal;
  opacity: 100%;
}

.banner-btn {
  padding: 8px 32px;
  background-color: $dark-teal;
  color: white;
  border-radius: 50px;
}

.banner-btn:hover {
  text-decoration: none;
  color: $light-teal;
  opacity: 100%;
}

.secondary-btn {
  padding: 8px 32px;
  background-color: $gray;
  opacity: 90%;
  color: white;
  border-radius: 50px;
}

.secondary-btn:hover {
  text-decoration: none;
  color: $light-teal;
  opacity: 100%;
}

.reassign-btn {
  font-size: 14px;
}

.back-btn {
  margin-top: 100px;
  opacity: 90%;
}

.back-btn:hover {
  text-decoration: none;
  opacity: 100%;
}
