<h2 class="mb-4 header">Assign Reviewer</h2>

<% if @essay.user %>
    <p>Current reviewer: <%= @essay.reviewer_name  %></p>
<% end %>

<%= simple_form_for @essay do |f| %>
  <%= f.input :user, label: 'Reviewer name', collection: @reviewer_names, include_blank: false, include_hidden: false %>

  <div class="center">
    <%= f.button :submit, 'Assign reviewer', method: "put", class: "btn main-btn", :no_turbolink => true %>
  </div>
<% end %>
