<div id="pricing">
  <h3 class="mb-4 text-center pt-0">Pricing</h3>
  <p class="mb-4 text-center">Each package includes a complete review of your essay covering essay concept, structure, content, and of course, spelling and grammar. We will then schedule a one-on-one consult with you to collaboratively finalize your essay and answer any lingering questions.</p>

  <h5 class="mb-4 text-center">Undergraduate Applicants</h5>


  <div class="price-cards text-center">
    <div class="price-card">
      <p class="size">S</p class="size">
      <p>100-250 words</p>
      <p>1.5-hour consult</p>
      <p class="price mt-2">USD 80</p>
    </div>
    <div class="price-card">
      <p class="size">M</p class="size">
      <p>251-400 words</p>
      <p>2-hour consult</p>
      <p class="price mt-2">USD 110</p>
    </div>
    <div class="price-card">
      <p class="size">L</p class="size">
      <p>401-600 words</p>
      <p>2.5-hour consult</p>
      <p class="price mt-2">USD 130</p>
    </div>
    <div class="price-card">
      <p class="size">XL</p class="size">
      <p>600+ words</p>
      <p>3-hour consult</p>
      <p class="price mt-2">USD 180</p>
    </div>
  </div>

  <h5 class="mt-5 mb-4 text-center">Graduate Applicants</h5>

  <div class="price-cards text-center">
    <div class="price-card">
      <p class="size">S</p class="size">
      <p>100-250 words</p>
      <p>1.5-hour consult</p>
      <p class="price mt-2">USD 90</p>
    </div>
    <div class="price-card">
      <p class="size">M</p class="size">
      <p>251-400 words</p>
      <p>2-hour consult</p>
      <p class="price mt-2">USD 120</p>
    </div>
    <div class="price-card">
      <p class="size">L</p class="size">
      <p>401-600 words</p>
      <p>2.5-hour consult</p>
      <p class="price mt-2">USD 150</p>
    </div>
    <div class="price-card">
      <p class="size">XL</p class="size">
      <p>600+ words</p>
      <p>3-hour consult</p>
      <p class="price mt-2">USD 200</p>
    </div>
  </div>
</div>
