<h1 class="mb-5">Essay Review Pricing</h1>
<h4 class="mb-4 text-center">Undergraduate Applicants</h4>

<div class="price-cards text-center">
  <div class="price-card">
    <p class="size">S</p class="size">
    <p>100-250 words</p>
    <p>1hr</p>
    <p class="price mt-4">$80</p>
  </div>
  <div class="price-card">
    <p class="size">M</p class="size">
    <p>251-400 words</p>
    <p>1.5hrs</p>
    <p class="price mt-4">$110</p>
  </div>
  <div class="price-card">
    <p class="size">L</p class="size">
    <p>401-600 words</p>
    <p>2hrs</p>
    <p class="price mt-4">$130</p>
  </div>
  <div class="price-card">
    <p class="size">XL</p class="size">
    <p>600+ words</p>
    <p>2hrs</p>
    <p class="price mt-4">$180</p>
  </div>
</div>

<h4 class="mt-5 mb-4 text-center">Graduate Applicants</h4>

<div class="price-cards text-center">
  <div class="price-card">
    <p class="size">S</p class="size">
    <p>100-250 words</p>
    <p>1hr</p>
    <p class="price mt-4">$80</p>
  </div>
  <div class="price-card">
    <p class="size">M</p class="size">
    <p>251-400 words</p>
    <p>1.5hrs</p>
    <p class="price mt-4">$110</p>
  </div>
  <div class="price-card">
    <p class="size">L</p class="size">
    <p>401-600 words</p>
    <p>2hrs</p>
    <p class="price mt-4">$130</p>
  </div>
  <div class="price-card">
    <p class="size">XL</p class="size">
    <p>600+ words</p>
    <p>2hrs</p>
    <p class="price mt-4">$180</p>
  </div>
</div>

<div class="center">
  <%= link_to "Submit an Essay", new_essay_path, class: "main-btn mt-5" %>
</div>
